.postbar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.postbar__button {
  background: rgb(47, 21, 102);
  border: none;
  color: rgb(255, 255, 255);
}

.postbar__input {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
